:root {
  --primary: #363A4A;
  --secondary: #a6b3ce;
  --tertiary: #f3f1ee;
  --lightPrimary: #505B68;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--primary);
  color: var(--tertiary)
}

a {
  text-decoration: none;
  color: inherit
}

.app {
  display: grid;
  height: 100vh;
  grid-template-areas: 
    "header header header"
    "content content content";

  grid-template-rows: 17rem auto;
}

.app .header {
  grid-area: header;

  background-color: var(--primary);

  display: flex;
  flex-direction: column;
  height: 15rem;
  min-height: 15rem;
  min-width: 0;
} 

.app .header > *{
  padding-inline: 3rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.app .header .navbar {
  height: 80%;
  background-color: var(--lightPrimary);
  display: flex;
  align-items: center;
  padding: 0;
}
.app .header .navbar > * {
  padding-inline: 1rem ;
  font-size: larger;
}
.app .header .navbar > img {
  height: 6rem;
  padding: 0;
}

.app .header .heading {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 100px;
}
.app .header .byline {
  height: 15%;
  color: var(--secondary);
  width: 100%;
}
.app .header .byline .cursor {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: blink;
}
.app .header .byline .feature {
  color: var(--tertiary)
}
.app .header .byline .cursor {
  color: var(--tertiary)
}

@keyframes blink {
  0% { opacity: 100% }
  50% { opacity: 0%; }
  100% { opacity: 100%; }
}


.app .content {
  margin-inline: 3rem;
  grid-area: content;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
}

.app .content .questions {
  color: var(--secondary);
}

.app .content .questions >* {
  width: fit-content;
}

.app .content .about {
  font-size: larger;
  height: fit-content;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.app .content .about .answer {
  color: var(--secondary)
}
.app .content .about .answer .sell {
  color: var(--tertiary);
}
.app .content .about .answer .start {
  color: var(--tertiary);
}

.app .content .npmi {
  font-family: monospace;
  width: fit-content;
  padding: 10px;
  padding-inline: 20px;
  margin-top: 1rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.493);
  font-size: 15px;
}
.app .content .npmi .npm {
  color: yellow;
}
.app .content .npmi .i {
  color: #5bc0de
}

.app .content .releases {
  height: 8rem;
  margin-block: 1rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  padding-inline: 0px;
  overflow-x: auto;
  overflow-y: hidden;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.app .content .releases .folder {
  height: 7rem;
  width: 13rem;
  margin-inline-end: 5px;
  background-color: var(--lightPrimary);
  border: 2px solid var(--lightPrimary);
}

.app .content .releases .folder:hover {
  background-color: var(--primary);
}

.app .content .releases .folder .version {
  height: 30%;
  width: 60%;
  border: 5px solid var(--secondary);
  border-top: 0;
  border-left: 0;
  background-color: var(--primary);
  line-height: 200%;
  padding-inline-start: 5%;
  margin-bottom: 5%
}

.app .content .releases .folder .details {
  color: var(--secondary)
}

.shadow {
  text-shadow: 2px 1px 3px rgb(20, 20, 20);
}

.glow {
  transition: 0.03s ease-in-out;
}
.glow:hover {
  color: var(--tertiary)
}

.pb {
  padding-bottom: 2px;
}


.black-ops {
  font-family: 'Black Ops One', cursive;
}

.akshar {
  font-family: 'Akshar', sans-serif;
}

.fjla {
  font-family: 'Fjalla One', sans-serif;
}

.test1 {
  background-color: rgba(255, 0, 0, 0.267);
}
.test2 {
  background-color: rgba(255, 187, 0, 0.267);
}



@media (max-width: 700px) {

  .app {
    grid-template-rows: 15rem auto;
  }

  .app .header .navbar {
    justify-content: space-between;
    padding: 0;
    height: 6rem;
  }

  .app .header .navbar > * {
    font-size: larger;
  }

  .app .header > * {
    padding: 0;
    margin-inline: 0.2rem;
  }

  .app .header .heading {
    font-size: 46px;
    height: 50%;
  }

  .app .header .byline {
    font-size: 12px;
    margin-block: -1rem;
  }

  .app .content {
    margin-inline: 0.2rem;
    width: 90%;
  }

  .app .content .releases .folder:hover {
    background-color: var(--lightPrimary);
  }


  .glow:hover {
    color: var(--secondary)
  }
  .pb {
    padding-bottom: 8px;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary)
}

ul {
  margin-block:  1px;
  font-size: large;
}